.DS_Store

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Swap files
.sw*
.config/zellij/zellij
.config/nvim/nvim

# Local shell configuration (may contain secrets)
.zshrc.local
